.hidden {
    display: none;
}
.disabled {
    pointer-events: none;
    cursor: default;
}
body {
    margin: 0;
    padding: 0;
}
nav {
    width: 100%;
    height: 85px;
}
.admin-header-row {
    display: block;
}
.admin-header-6 {
    float: left;
    width: 65%;
}

.admin-header-7 {
    float: left;
    width: 35%;
}
.admin-header-6 .logo {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(161, 158, 158);
    font-size: 28px;
    padding: 20px 30px;
    font-weight: bold;
}
.admin-header-user {
    float: left;
    width: 60%;
    padding: 10px 0;
}

.admin-header-user > div > img {
    border-radius: 50%;
    width: 50px;
}
.admin-header-user > div {
    float: left;
}

.admin-header-user > .admin-header-name {
    /* float: left; */
    padding: 15px 20px;
}

.admin-header-user span {
    display: subgrid;
    font-weight: bold;
    font-size: 20px;
    padding: 20px 0;
    color: rgb(228, 28, 83);
}

.admin-header-logout {
    float: left;
    width: 40%;
    padding-top: 25px;
}

.admin-header-logout > a {
    display: block;
    color: white;
    background-color: rgb(255, 100, 132);
    text-decoration: none;
    border-radius: 7px;
    width: 82px;
    padding: 5px 15px;
    box-shadow: 0px 0px 6px rgb(161, 158, 158);
}

.admin-header-logout > a:hover {
    box-shadow: 0px 2px 6px rgb(161, 158, 158);
}

.body {
    min-height: 100%;
    height: 100%;
}

.sidebar {
    position: absolute;
    width: 16%;
    background-color: rgb(135, 233, 229);
    height: 100%;
    border-radius: 20px;
    float: left;
    display: block;
}
.admin-sidebar-bar {
    padding: 15px;
    text-align: right;
    color: white;
    font-size: 22px;
}
.sidebar > .menu {
    font-size: 18px;
    font-weight: bold;
}
.sidebar > .menu > .menu-list {
    margin: auto;
    list-style-type: none;
}
.sidebar > .menu > .menu-list > .menu-list-li {
    padding: 10px 0;
}
.sidebar > .menu > .menu-list > .menu-list-li > a {
    text-decoration: none;
    color: rgb(112, 112, 112);
}
.sidebar > .menu > .menu-list > .menu-list-li > a:hover {
    color: rgb(83, 83, 83);
}

.sidebar > .menu > .menu-list > .menu-list-li > .active {
    color: rgb(37, 36, 36);
}
main {
    margin: 20px;
    display: inline-block;
    float: right;
    width: 82%;
    border: 1px solid rgb(112, 112, 112);
    border-radius: 12px;
    padding: 20px;
}

.table {
    color: black;
}

.table,
.table th,
.table td {
    border: none !important;
    border-bottom: 5px solid rgb(255, 255, 255) !important;
}

.table td:first-child,
.table th:first-child {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}
.table tr {
    border-radius: 12px;
}
.table td:last-child,
.table th:last-child {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.table-box {
    width: 80%;
    margin: 3% 10%;
}

.table td {
    padding: 0.5em;
    background-color: rgb(188, 243, 240);
}

.table th {
    background-color: rgb(78, 209, 209);
}

/* .table .paginate-button,
.table .page-link::marker {
  border-radius: 50% !important;
} */

.pagination > li > a,
.pagination > li > span {
    background-color: rgb(52, 130, 139);
    border-radius: 35%;
    margin: 0 2px;
    border: none;
    color: white;
}

.page-item.active .page-link {
    background-color: rgb(207, 255, 94);
    color: black;
}

div.dataTables_wrapper div.dataTables_info,
.table_length {
    color: rgb(112, 112, 112);
}

td > img {
    margin: 0;
    padding: 0;
    width: 30px;
}

td > .action {
    display: block;
    width: 96px;
}

td > .action > a {
    display: block;
    float: left;
    text-align: center;
    text-decoration: none;
    color: white;
    width: 40px;
    height: 30px;
    border-radius: 8px;
    margin: 0 3px;
}

td > .action > .done,
td > .action > .edit {
    margin-bottom: 5px;
    background-color: rgb(76, 175, 80);
}
td > .action > .edit {
    background-color: rgb(61, 152, 255);
}
td > .action > .cancel {
    background-color: rgb(226, 35, 35);
}

td > .action > .done:hover,
td > .action > .edit:hover {
    background-color: rgb(60, 202, 64);
    text-decoration: none;
    color: white;
    box-shadow: 0 0 5px gray;
}
td > .action > .edit:hover {
    background-color: rgb(109, 177, 255);
    color: white;
    box-shadow: 0 0 5px gray;
}
td > .action > .cancel:hover {
    background-color: rgb(245, 20, 20);
    text-decoration: none;
    color: white;
    box-shadow: 0 0 5px gray;
}

.check {
    display: block;
    width: 40px;
    height: 30px;
    background-color: rgb(76, 175, 80);
    text-align: center;
    border-radius: 8px;
    color: white;
    padding-top: 5px;
}

.trash {
    display: block;
    width: 40px;
    height: 30px;
    background-color: rgb(226, 35, 35);
    text-align: center;
    border-radius: 8px;
    color: white;
    padding-top: 5px;
}
.add-wallet {
    display: block;
    padding: 10px;
    background-color: rgb(76, 175, 80);
    color: white;
    border-radius: 8px;
    width: 100px;
    margin: 0 20px 30px 0;
}
.add-wallet:hover {
    color: white;
    text-decoration: none;
    background-color: rgb(60, 202, 64);
    box-shadow: 0 0 5px gray;
}

td > div > .send {
    display: block;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    padding: 4px 2px;
    color: white;
}
td > div > .send:hover {
    background-color: rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 4px gray;
}

td > div > .details {
    display: block;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    padding: 4px 2px;
    color: white;
}
td > div > .details:hover {
    background-color: rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 4px gray;
}
.glow {
    color: gold;
}
#admin-feedback-show {
    width: 40% !important;
}
#admin-feedback-show > div {
    font-size: 17px;
    line-height: 1.2em;
    height: 2.45em;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow-y: scroll;
    scrollbar-width: none;
}
#admin-feedback-show > div::-webkit-scrollbar {
    display: none;
}
.index-td > .index {
    background-color: rgb(188, 243, 240);
    border: none;
    text-align: center;
    width: 60px;
    -moz-appearance: textfield;
}
.index-td > .index::-webkit-outer-spin-button,
.index-td > .index::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.index-td > input[type="button"] {
    background-color: rgb(78, 209, 209);
}
